@page
@model SignalRChat.Pages.scoresModel
@{
    ViewData["Title"] = "scores";
}

<h1>scores</h1>
<asp:GridView ID="gvScore" runat="server" AutoGenerateColumns="True" BackColor="White"  
BorderColor="#3366CC" BorderStyle="None" BorderWidth="1px" CellPadding="4" >
</asp:GridView>
